<div style="display:none;" id="login" class="mdl-card mdl-shadow--6dp">
	<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
		<h2 class="mdl-card__title-text">{{translation.login.title}}</h2>
	</div>
	<form method="post" role="form">
		<div class="mdl-card__supporting-text">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<label for="username" class="mdl-textfield__label">{{translation.login.username}}</label>
					<input id="username" name="username" data-ng-model="username" class="mdl-textfield__input" type="text">
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<label for="password" class="mdl-textfield__label">{{translation.login.password}}</label>
					<input id="password" name="password" data-ng-model="password" class="mdl-textfield__input" type="password">
				</div>
				<div data-ng-show="captcha" class="g-recaptcha" data-ng-model="recaptcha" data-sitekey="6LesRBUTAAAAAHkNgQJb4zwZ3Ov7YeiS_Gj8A3aJ"></div>
		</div>
		<div id="loginbuttons" class="mdl-card__actions mdl-card--border">
			<button type="button" data-ng-click="CancelLogin()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button-colored mdl-color--red-500 mdl-color-text--white">{{translation.login.cancel}}</button>
			<button type="submit" data-ng-click="Login(username, password, recaptcha);" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button-colored mdl-color--green-500 mdl-color-text--white">{{translation.login.login}}</button>
		</div>
	</form>
</div>